@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: #e5e5e5;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  width: 1200px;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title-bold {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.descriptions {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333;
}

/* background */

.page-greeting-bg {
  background: url("../img/mountain.jpg") no-repeat;
  background-size: 100% auto;
  padding: 51px 0 82px;
}

.catalog-bg {
  background: url("../img/mountain-blur.jpg") no-repeat;
  background-size: 100% auto;
  padding: 33px 72px 84px;
}

.subscription-bg {
  background: url("../img/valley-blur.jpg") no-repeat;
  background-size: 100% auto;
  padding: 93px 200px;
  color: #fff;
}

/* total */

.page-header {
  padding: 0 72px 0 60px;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000;
}

.navigation-main {
  width: 420px;
  margin-right: 50px;
}

.navigation-main-item {
  padding: 13px 0 14px;
  margin-right: 9px;
}

.navigation-main-link {
  padding: 6px 12px;
}

.navigation-user {
  align-items: center;
  width: 300px;
  margin-left: auto;
}

.navigation-user-link {
  padding: 10px;
}

.navigation-user-button {
  padding: 8px 35px;
}

.navigation-user-item {
  width: 38px;
  height: 38px;
}

.subscription {
  padding: 94px 200px;
  text-align: center;
}

.subscription-title {
  margin-bottom: 30px;
}

.subscription-description {
  margin: 0 0 40px 0;
}

.subscription-input {
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  margin: 0;
}

.page-footer {
  display: flex;
  align-items: center;
  padding: 25px 50px 25px 60px;
}

.footer-social {
  width: 175px;
}

.footer-social-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-social-item {
  min-width: 40px;
  min-height: 40px;
}

.footer-contacts {
  width: 381px;
  margin: 0 175px;
  text-align: center;
}

.footer-contacts-number {
  display: block;
  padding: 15px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000;
}

.footer-htmlacademy {
  margin-left: auto;
}

.footer-link-htmlacademy {
  display: block;
  padding: 20px 22px 10px;
}

/* main page */

.greeting-text {
  display: block;
  margin: 0 auto;
}

.greeting-description {
  margin-top: 32px;
  margin-bottom: 0;
  line-height: 36px;
  color: #333;
}

.page-greeting {
  padding: 62px 240px 80px;
  text-align: center;
}

.advantages-list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.adventages-item-grid {
  grid-column: 1/-1;
}

.advantages-item {
  padding: 85px 75px 77px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
}

.advantages-number {
  margin: 25px 0 28px;
  text-transform: uppercase;
}

.advantages-item-img {
  display: flex;
  padding: 0;
}

.hotels {
  padding: 91px 240px;
  text-align: center;
}

.hotels-title {
  margin-bottom: 30px;
}

.hotels-description {
  margin-top: 0;
  margin-bottom: 65px;
  color: #333;
}

/* inner page */

.inner-header-title {
  display: block;
  height: 68px;
  text-transform: none;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumbs-link {
  display: block;
  padding: 3px 8px;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.breadcrumbs-img {
  display: block;
  padding: 7px 8px 8px 0;
  padding-top: 7px;
  margin-right: 14px;
  width: 12px;
  height: 12px;
}

.catalog-filter {
  display: flex;
  margin-top: 45px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  margin-right: 67px;
  padding: 0;
}

.catalog-filter-group:nth-child(3) {
  margin-left: auto;
  margin-right: 80px;
}

.catalog-filter-title {
  margin-bottom: 27px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.catalog-filter-list:not(:last-child) {
  margin-bottom: 10px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.control-label {
  color: #fff;
}

.sorting-list {
  display: flex;
  margin-left: auto;
}

.sorting-item {
  margin-left: 8px;
  box-sizing: border-box;
}

.sorting {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  color: #333;
  padding: 44px 72px 42px;
}

.sorting-title {
  line-height: 39px;
  color: #000;
  margin: 0;
  margin-right: auto;
}

.select-control {
  font: inherit;
  width: 287px;
  height: 48px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}

.products {
  margin: 0 72px;
}

.product-card {
  display: grid;
  grid-template-columns: 180px 20px 150px 160px 344px 160px;
  grid-template-rows: 30px 23px 30px 37px;
  column-gap: 8px;
  padding: 30px 0 30px;
  border-top: 1px solid #e6e6e6;
}

.product-card-title {
  margin: 0;
  grid-column: 3/6;
  text-transform: none;
  font-size: 24px;
  line-height: 31px;
}

.product-card-type {
  grid-column: 3/4;
}

.product-card-info {
  grid-column: 3/4;
  grid-row: 4/-1;
}

.product-card-favourites {
  grid-column: 4/5;
  grid-row: 4/-1;
}

.product-card-rating {
  grid-column: 6/-1;
  grid-row: 4/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.product-star {
  grid-column: 6/-1;
  margin: 0;
}

.product-more {
  padding: 30px 215px;
  border-top: 1px solid #e6e6e6;
}

.pagination {
  display: flex;
  margin: 0 72px;
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
}

.pagination-list {
  display: flex;
  margin-right: 298px;
}

.pagination-item {
  margin-right: 7px;
  border-radius: 4px;
}

.sorting-type-form {
  display: flex;
  align-items: center;
  width: 386px;
}

.pagination-select-control {
  margin-left: auto;
  width: 160px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}

.subscription-description-inner {
  color: #333;
}

/* button */

.button,
.button-similar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  background-color: #756257;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 0;
  margin: 0;
}

.subscription-button {
  border-radius: 0px 10px 10px 0px;
}

.hotels-link {
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.catalog-filter-select {
  margin-bottom: 15px;
  height: 48px;
  width: 160px;
}

.catalog-filter-reset {
  background: none;
  margin: 0 auto;
  height: 32px;
  width: 100px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-transform: none;
}

.sorting-button-icon {
  display: block;
  padding: 15px 14px;
  width: 16px;
  height: 14px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.sorting-button-selected {
  border-color: #000;
}

.product-button-more {
  font-size: 20px;
  line-height: 26px;
}

.pagination-link {
  height: 55px;
  width: 55px;
  font-size: 20px;
  line-height: 26px;
}

/* colors */

.white-text {
  color: #fff;
}

.ease-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.blue-bg {
  background-color: #83b3d3;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000;
}

.button-favourites-added {
  background-color: #7db54f;
}
