@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400px;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700px;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif, Arial;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: #E5E5E5;
}

.wrapper {
  width: 1200px;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* background */

.main-index {
  background: url("../img/mountain.jpg") no-repeat;
  background-size: 100% auto;
}

.main-inner {
  background: url("../img/mountain-blur.jpg") no-repeat;
  background-size: 100% auto;
}

.subscription-bg {
  background: url("../img/valley-blur.jpg") no-repeat;
  background-size: 100% auto;
  color: #fff;
}

/* link */

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: inherit;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
}

/* title */

.title-bold {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
}

.inner-headder-title {
  text-transform: none;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-title {
  font-size: 20px;
}

.sorting {
  font-size: 18px;
  line-height: 23px;
  color: #333;
}

.sorting-title {
  line-height: 39px;
  color: #000;
}

.product-card-title {
  text-transform: none;
  font-size: 24px;
  line-height: 31px;
}

/* description */

.descriptions {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333;
}

.greeting-description {
  line-height: 36px;
  color: #333;
}

.advantages-number {
  text-transform: uppercase;
}

.hotels-description {
  color: #333;
}

.control-label {
  line-height: 23px;
  color: #fff;
}

.product-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.subscription-description-inner {
  color: #333;
}

/* list */

.txtaln-center {
  text-align: center;
}

.white-text {
  color: #fff;
}

.ease-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

/* button */

.button,
.pagination-link {
  font-family: inherit;
  background-color: #756257;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 0;
  margin: 0;
}

.hotels-link {
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.subscription-button {
  border-radius: 0px 10px 10px 0px;
}

.blue-bg {
  background-color: #83B3D3;
}

.catalog-filter-reset {
  background: none;
}

.button-favourites-added {
  background-color: #7DB54F;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000;
}

/* input */

.subscription-input {
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  margin: 0;
}

/* footer */

.footer-contacts-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
